.select {
  &__control {
    width: 310px !important;
    height: 47px !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03) !important;
    transition: all 0.3s !important;
    border-color: transparent !important;

    &--is-focused {
      border-color: var(--violet) !important;
      box-shadow: none !important;
    }

    svg {
      fill: var(--violet);
    }

    &--menu-is-open svg {
      transform: rotate(180deg) !important;
    }

    &:hover {
      border-color: var(--violet) !important;
    }
  }

  &__menu {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03);
  }

  &__menu,
  &__single-value {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: var(--light-gray) !important;
  }

  &__indicator-separator {
    display: none;
  }

  &__value-container {
    padding-right: 0 !important;
  }

  &__option {
    padding: 15px 20px !important;
    cursor: pointer !important;
    transition: all 0.3s;

    &:not(:last-child) {
      border-bottom: 1px solid var(--light-gray);
    }

    &--is-focused {
      background-color: transparent !important;
    }

    &:hover {
      color: var(--gray) !important;
    }

    &--is-selected {
      background-color: transparent !important;
      color: var(--violet) !important;

      &:hover {
        color: var(--violet) !important;
      }
    }
  }

  &__menu-option {
    padding: 15px 0;
  }
}

.select__menu-option {
  padding: 15px 0 !important;
}

.option--is-selected {
  color: red !important;
}
