.items {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 0 30px 30px 0;
  }

  a:first-child,
  a:nth-child(6) {
    width: 555px;
    height: 355px;
    font-size: 18px;
    letter-spacing: 0.36px;

    h3 {
      font-size: 24px;
    }

    > div {
      padding: 30px;
    }
  }

  a:nth-child(2),
  a:nth-child(3),
  a:nth-child(4),
  a:nth-child(5) {
    width: 262.5px;
    height: 168px;
    font-size: 10px;
    letter-spacing: 0.2px;

    h3 {
      font-size: 14px;
    }

    > div {
      padding: 20px;
    }
  }

  a:nth-child(6) {
    margin-top: -187px;
  }

  a:nth-child(3),
  a:nth-child(6) {
    margin-right: 0;
  }

  a:nth-child(n + 7) {
    width: 360px;
    height: 230px;
    font-size: 12px;

    h3 {
      font-size: 16px;
    }

    > div {
      padding: 20px;
    }
  }

  a:nth-child(3n + 9) {
    margin-right: 0;
  }
}
