.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.top {
  text-align: center;
}

.inner {
  margin: 30px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  border-radius: 50%;
  background-color: #3b5e61;
}

.avatar {
  border-radius: 50%;
}

.name {
  margin-right: 15px;
  font-weight: 600;
  font-size: 32px;
  color: var(--black);
}

.text {
  font-weight: 500;
  font-size: 20px;
}

.btnSettings {
  width: 25px;
  height: 25px;
}

.imgSettings {
  transition: all 0.3s;

  &:hover {
    transform: rotate(30deg);
  }
}

.premium {
  margin: 50px 0;
}

.premiumActive {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 30px;
  background: var(--violet);
  text-align: center;
}

.premiumActiveTop {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premiumActiveTitle {
  margin-left: 10px;
  transform: translateY(1px);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.premiumActiveText {
  margin-bottom: 5px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.premiumItem {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 30px;
  border: 2px solid var(--violet);

  &:last-child {
    background: var(--violet);
    border: none;

    .premiumTitle,
    .premiumRight {
      color: var(--white);
    }

    .premiumBottom {
      color: rgba(255, 255, 255, 0.5);
    }

    .premiumBold {
      padding: 0 5px;
      color: var(--white);
    }
  }
}

.premiumTop {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.premiumLeft {
  display: flex;
  align-items: center;
}

.premiumTitle {
  margin-left: 10px;
  transform: translateY(1px);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--violet);
}

.premiumRight {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  color: var(--violet);
}

.premiumCost {
  margin-right: 5px;
}

.premiumBottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray);
}

.seminarsItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seminarsTop {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}

.seminarsTitle {
  margin-right: 5px;
}
