.preloader {
  content: '';
  position: fixed;
  width: 100%;
  height: calc(100% - 213px);

  &Spinner {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(236, 158, 236);
    border-top: 3px solid var(--violet);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    z-index: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
