@import './variables.scss';

.left-menu {
  min-width: $size_390px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bCol */
.bCol {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bCol_t-mg-70px {
    margin-top: $size_70px;
  }

  .bCol_t-mg-auto {
    margin-top: auto;
  }
}

.bCol.bCol_v1 {
  height: 100%;
  width: -webkit-fill-available;
  padding: $size_50px 0;
  margin: 0 $size_100px;
}

.bCol.bCol_v2 {
  height: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 0.5em;
}

.bCol.bCol_al-btw {
  justify-content: space-between;
}

.bCol.bCol_al-left {
  align-items: flex-start;
}

.bCol.bCol_just-top {
  justify-content: flex-start;
}

.bCol.bCol_b-mg_40px {
  margin-bottom: $size_40px;
}

/* bCol end */

.bAudio .bIcon {
  margin-right: 20px;
  cursor: pointer;
}
// for switching and anim
#left-menu-tabs {
  .bIcon,
  .bText {
    transition: color 0.225s;
    cursor: pointer;
  }

  .bRow.active {
    .bText {
      color: #6a1b9a;
    }

    svg,
    svg path {
      fill: #6a1b9a;
    }
  }

  .active-stroke {
    .bText {
      color: #6a1b9a;
    }

    svg,
    svg path {
      stroke: #6a1b9a;
    }
  }
}

.bRow {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bRow.bRow_wAuto {
  width: auto;
}

.bRow.bRow_h100percent {
  height: 100%;
}

.bRow.bRow_wFit {
  width: fit-content;
}

.bRow.bRow_al-left {
  justify-content: flex-start;
}

.bRow.bRow_al-right {
  justify-content: flex-end;
}

.bRow.bRow_b-mg30px {
  margin-bottom: $size_30px;
}

.bRow.bRow_bMg10px {
  margin-bottom: $size_10px;
}

.bRow_tMg10px {
  margin-top: $size_10px;
}

.bRow_t-mg-auto {
  margin-top: auto;
}

.bRow.bRow_justBtw {
  justify-content: space-between;
}

.bRow.bRow_just-even {
  justify-content: space-evenly;
}

.bRow.bRow_alBtm {
  align-items: flex-end;
}

/* bRow end */

/* bText */
.bText {
  font-size: 1em;
  color: #000000;
}

.bText.bText_al-c {
  text-align: center;
}

.bText.bText_w {
  color: #ffffff;
}

.bText_dg {
  color: #808080;
}

.bText_g {
  color: #d9d9d9;
}

.bText_p {
  color: #6a1b9a;
}

.bText.bText_lmg_10px {
  margin-left: $size_10px;
}

.bText.bText_t-mg_10px {
  margin-top: $size_10px;
}

.bText.bText_b-mg_30px {
  margin-bottom: $size_30px;
}

.bText.bText_b-mg_20px {
  margin-bottom: $size_20px;
}

.bText.bText_sbold {
  font-weight: 600;
}

.bText.bText_500 {
  font-weight: 500;
}

.bText.bText_400 {
  font-weight: 400;
}

.bText.bText_300 {
  font-weight: 300;
}

.bText.bText_tab-grey {
  color: #d9d9d9;
}

.bText.bText_v1 {
  font-size: $size_20px;
  font-weight: 800;
  color: #6a1b9a;
}

.bText.bText_v2 {
  color: #ffffff;
  font-size: $size_12px;
  font-weight: 600;
  width: fit-content;
  padding: $size_7px $size_14px $size_7px $size_14px;
  border-radius: $size_20px;
  background-color: #6a1b9aa6;
}

.bText.bText_11px {
  font-size: $size_11px;
}

.bText.bText_10px {
  font-size: $size_10px;
}

.bText.bText_14px {
  font-size: $size_14px;
}

.bText.bText_32px {
  font-size: $size_32px;
}

/* bText end */

/* bImg */
.bImg {
  width: auto;
  height: auto;
}

.bImg.bImg_logo {
  width: $size_44px;
  height: $size_50px;
}

.bImg.bImg_v1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 1em;
}

.bImg.bImg_v2 {
  position: relative;
  height: $size_113px;
  width: $size_180px;
  border-radius: $size_15px;
  margin-bottom: $size_30px;
}

/* bImg end */

/* bIcon */
.bIcon {
  width: auto;
  height: auto;
}

.bIcon.bIcon_1em {
  width: 1em;
  height: 1em;
}

.bIcon.bIcon_20px {
  width: $size_20px;
  height: $size_20px;
}

.bIcon.bIcon_r-mg_10px {
  margin-right: $size_10px;
}

.bIcon.bIcon_v1 {
  width: $size_10px;
  height: $size_10px;
  margin-right: $size_7px;
}

.bIcon.bIcon_v2 {
  position: absolute;
  z-index: 10;
  width: $size_14px;
  height: $size_14px;
  top: 50%;
  right: $size_20px;
  transform: translate(0, -50%);
}

.bIcon.bIcon_v3 {
  width: $size_18px;
  height: $size_18px;
  margin-right: $size_7px;
}

/* bIcon end */

/* b-dividers */

.bColDivider_30px {
  min-height: $size_30px;
}

/* b-dividers end */

/* b-container */

.b-container {
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
}

.b-container.b-container_30px {
  width: $size_30px;
  height: $size_30px;
}

.b-container.b-container_rMg10px {
  margin-right: $size_10px;
}

/* b-container end */

/* bGrid */
.bGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $size_310px);
  gap: 1em;
}

.bGrid.bGrid_signals {
  grid-template-columns: repeat(auto-fit, $size_650px);
}

.bGrid.bGrid_investment {
  grid-template-columns: repeat(auto-fit, $size_650px);
}

/* bGrid end */

/* bButton */
.bButton {
  width: auto;
  height: auto;
}

.bButton.bButton_delete {
  min-width: $size_55px;
  height: $size_40px;
  background-color: #6a1b9a;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: $size_15px;
}

.bButton.bButton_delete.bButton_delete_v1 {
  min-width: $size_91px;
  position: absolute;
  top: $size_15px;
  right: $size_15px;
}

.bButton.bButton_purple {
  min-width: $size_310px;
  height: $size_47px;
  background-color: #6a1b9a;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: $size_10px;
  font-weight: 600;
  flex-wrap: wrap;
}

.bButton.bButton_purple.bButton_purple_v1 {
  min-width: $size_324px;
  height: $size_50px;
}

.bButton.bButton_grey {
  min-width: $size_118px;
  height: $size_47px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: $size_10px;
  font-weight: 600;
  flex-wrap: wrap;
}

/* bButton end */

/* b-window */
.b-window {
  display: block;
  height: auto;
  width: -webkit-fill-available !important;
  padding: $size_50px 0;
  margin: 0 $size_100px;
}

.b-window.current {
  display: block;
}

.b-window.b-window_investments {
  background-color: blue;
}

.b-window.b-window_seminars {
  background-color: yellow;
}

.b-window.b-window_users {
  background-color: green;
}

.b-window.b-window_settings {
  background-color: orange;
}

.b-window.b-window_exit {
  background-color: black;
}

/* single elements */
.bInput {
  width: 100%;
  color: #000000;
  height: $size_47px;
  border-radius: $size_10px;
  padding-left: $size_20px;
}

.bInput.bInput_area {
  border: none;
  outline: transparent;
  background-color: #ffffff;
  height: $size_81px;
  padding: 1.25em;
  max-height: $size_390px;
}

::placeholder {
  color: #d9d9d9;
}

.b-editor {
  width: 100%;
  height: 10em;
  display: none;
}

.b-editor.open {
  display: block;
}

.bNewsBlock {
  position: relative;
  width: $size_310px;
  height: $size_198px;
  border-radius: 1em;
  padding: $size_20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(#ffffff00 70%, #6a1b9a);
}

.b-signals-block {
  position: relative;
  width: $size_650px;
  height: $size_415px;
  border-radius: $size_15px;
  padding: $size_30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.b-investment-block {
  position: relative;
  width: $size_650px;
  height: $size_415px;
  border-radius: $size_15px;
  padding: $size_30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bAudio {
  height: $size_62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $size_30px;
  width: 80%;
}

#waveform {
  width: 100%;
  cursor: pointer;
}
