/* pixel' sizes in em format */
$size_7px: 0.4375em;
$size_10px: 0.625em;
$size_11px: 0.6875em;
$size_12px: 0.75em;
$size_14px: 0.875em;
$size_15px: 0.9375em;
$size_18px: 1.125em;
$size_20px: 1.25em;
$size_24px: 1.5em;
$size_30px: 1.875em;
$size_32px: 2em;
$size_40px: 2.5em;
$size_44px: 2.75em;
$size_47px: 2.9375em;
$size_50px: 3.125em;
$size_55px: 3.4375em;
$size_62px: 3.875em;
$size_70px: 4.375em;
$size_81px: 5.0625em;
$size_91px: 5.6875em;
$size_100px: 6.25em;
$size_104px: 6.5em;
$size_113px: 7.0625em;
$size_118px: 7.375em;
$size_180px: 11.25em;
$size_198px: 12.375em;
$size_310px: 19.375em;
$size_324px: 20.25em;
$size_390px: 24.375em;
$size_415px: 25.9375em;
$size_650px: 40.625em;
$size_1330px: 83.125em;